/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.7;
    color: black;
    display: flex;
    flex-direction: column;
}

.header {
    height: auto; /* Or a specific size if needed */
    padding: 1rem; /* Optional, gives space inside header */
    background-size: cover;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
