/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #7ed56f;
}
.header {
  height: 200;  /*   Idzie 95% od góry do dołu */
  background-size: cover;
  background-position: top;
}
